In [45]:
import collections
import pandas as pd
from collections import OrderedDict
# dict_list = [
#     {'name' : 'jeong', 'age' : 25, 'job' : 'engineer'},
#     {'name' : 'aeon', 'age' : 27, 'job' : 'engir'}
# ]
dict_list_1 = OrderedDict(
    [
        ('name',['a','b']),
        ('age',[25, 27]),
        ('job',['engineer','engir'])
    ]
)
#dataframe   df
df1= pd.DataFrame(dict_list_1)
 # check colume list order
# df = df[['name','age','job']] from collections import OrderedDict



dict_list_2 = [
    {'yeon',20,'SA'}
]

colume_name = ['name','age','job']

#df2 = pd.DataFrame.from_records(dict_list_2, columns= colume_name)
# df2 = pd.DataFrame.from_dict(collections.OrderedDict(dict_list_2))
# df2 = pd.DataFrame.from_dict(dict(dict_list_2)) 



df1.head()
# df2.head()

  name  age       job
0    a   25  engineer
1    b   27     engir

In [37]:

df1.head()

  name  age       job
0    a   25  engineer
1    b   27     engir

In [38]:
df2.head()

      0   1   2
0  yeon  20  SA

In [2]:
scores1 = int(input("1-scores : "))
scores2 = int(input("2-scores : "))
scores3 = int(input("3-scores : "))
av = (scores1 + scores2 + scores3) / 3

print(f"결과값: {av:.1f}점")

# if scores1 or scores2 or scores3 > 100:
#     print("Invalid input")
#     exit()
# elif av > 80:
#     print("합격입니다")
# else:
#     print("ㄴㄴ")

결과값: 100.0점

In [18]:
import numpy as np
import pandas as pd
# 1. Create Pandas Dataframe
from IPython.display import display

# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(my_2darray.shape) # count  low, columns   ( 2  ,  3 ) 
display(pd.DataFrame(my_2darray))
# number  of row


# Take a dictionary as input to your DataFrame    setting frame name(a,b,c,...)
my_dict = {"a": ['1', '3'], "b": ['1', '2'], "c": ['2', '4']}
display(pd.DataFrame(my_dict))

# Take a DataFrame as input to your DataFrame 
# **Setting** 
# Column names
# index number of rows in your DataFrame
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['Name'])
display(pd.DataFrame(my_df))

# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

(2, 3)

   0  1  2
0  1  2  3
1  4  5  6

   a  b  c
0  1  1  2
1  3  2  4

   Name
0     4
1     5
2     6
3     7

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels