In [2]:
import csv

file = open('C:\doit\py-study\csv\class_1.csv','r')
rows = csv.reader(file)
for row in rows:
    print(row)

['유재석', '서초구', '95', '90', '92', '95', '88']
['박명수', '구로구', '78', '85', '82', '88', '90']
['정준하', '구로구', '58', '52', '63', '71', '42']
['정형돈', '종로구', '88', '90', '85', '95', '82']
['노홍철', '강남구', '68', '78', '80', '82', '80']
['하하', '강남구', '78', '80', '80', '78', '75']

In [1]:
import pandas

dict_data = {'수학':[90,80,70,60],'영어':[90,80,70,60],
'음악':[80,80,70,60],'체육':[100,80,70,60]}
df = pandas.DataFrame (dict_data, index = ['서준','우현','인아','지훈'])
df

    수학  영어  음악   체육
서준  90  90  80  100
우현  80  80  80   80
인아  70  70  70   70
지훈  60  60  60   60

In [34]:
df2 = df.copy()
df2.drop('수학', axis=1, inplace=True)   #colume 제거 할때 axis 붙혀줘야함 
#축 이라는 의미 . inplace 는 inplace 옵션이 True이면,  명령어를 실행 한 후 메소드가 적용된 데이터 프레임으로 반환 한다.
print(df2.drop(labels='서준',axis=0))
df2.drop(labels='서준',axis=0,inplace=True)
df2

    영어  음악  체육
우현  80  80  80
인아  70  70  70
지훈  60  60  60

    영어  음악  체육
우현  80  80  80
인아  70  70  70
지훈  60  60  60

In [42]:
# df['수학']
df[['체육','영어']]  #단일 컬럼 조회
df.iloc[1:3]


# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

    수학  영어  음악  체육
우현  80  80  80  80
인아  70  70  70  70

In [2]:
import pandas as pd
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
# df2=df.transpose()
df2.plot()
plt.show()

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

TypeError: no numeric data to plot